---
layout: page
title: "About"
description: "xiaguanghua1990@gmail.com"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <!-- <option value="1"> 英语 English </option> -->
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        以工匠的态度写好代码。
    </blockquote>
    
    <h3>欢迎来到我的博客~ </h3> 

  一直想要建立自己的博客，然而一直在拖延。这次终于忙里偷闲，将博客搭起。<br><br>

写博客当然会消耗一部分精力，但是即使我们处于碎片化阅读的时代，博客的存在仍有其不可替代作用。<br><br>

于我而言，写博客不仅帮助我总结所学，理清思路，更可以结识同好，互相学习。
同时，作为一名IT从业者，平时知识获得的途径中，一个不可缺少的就是通过网络上各种博客。一些前人踩过的坑，被乐于分享的博友分享出来，节约了我大量的时间。人说位卑未敢忘忧国，即使能力有限，我也愿分享一些自己的经验，以期投桃报李。<br><br>

<p>此博客模板来源于此<a href="https://github.com/Huxpro/huxpro.github.io">github项目</a>，采用现有模板节省了我大量的精力，使得我可以专注于撰写博文，在此对原作者表示感谢。</p>

    <!-- <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">李书航 － 什么是「共产中文腔调」？ </a>
    </p> -->

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
